$wrapper-size: 1140px;
$color_main-dark: #222222;

@mixin text-regular($weight:300, $color:#222224) {
    font-size: 14px;
    line-height: 17px;
    font-weight: $weight;
    color: $color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "blocks/_header.scss";

@import "blocks/_cart.scss";

@import "blocks/_registration.scss";

.offer {
    background: #F1E4E6;
    margin-bottom: 65px;
}

.offer-wrap {
    background-image: url(../img/offer-img.svg);
    background-position-x: -228px;
    background-position-y: 36px;
    background-repeat: no-repeat;
    display: flex;
    height: 765px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.brand_text {
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    color: $color_main-dark;
    padding-left: 16px;
    border-left: 12px solid #F16D7F;
    transition: 0.3s;
        &:hover {
            -moz-transform: rotate(-180deg);
            -webkit-transform: rotate(-180deg);
            -o-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
        }
}

.brand_text-small {
    font-size: 32px;
    line-height: 38px;
    color: $color_main-dark;
}

.brand_text-fashion {
    font-size: 32px;
    line-height: 38px;
    color: #F16D7F;
    margin-right: 80px;
}

@import "blocks/_categories.scss";
@import "blocks/_feature-products.scss";
@import "blocks/_product-page.scss";
@import "blocks/_breadcrumb.scss";

summary {
    display: block;
  }
  
summary::-webkit-details-marker {
    display: none;
  }

.filter {
    margin-top: 51px;
    margin-bottom: 64px;
    display: flex;
    position: relative;
    align-items: center;
}
.filter__main {
    width: 360px;
    position: absolute;
    z-index: 1000;
    padding: 13px 16px 16px 16px;
}
.filter__main[open] {
    top: -25px;
    width: 360px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    background-color: white;
        &[open] svg, span {
            fill: #EF5B70;
            color: #EF5B70;
        }
}
.filter__main__title {
    // margin-bottom: 16px;
    padding: 11px;
    & svg {
        margin-left: 11px;
        fill: black;
    }
    &-line {
        border-left: 5px solid  #EF5B70;
        border-bottom: 1px solid #EBEBEB;
        margin-bottom: 18px;
    }
}
.filter__main__list {
    list-style-type: none;
    margin-left: 33px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
        & li {
            margin-bottom: 11px;
        }
}

.product-filter {
    margin: auto;
}

.product-filter-main img {
    margin-left: 11px;
}
.product-filter-sort {
    text-align: center;
    justify-content: space-around;
    margin: auto;
}

.product-filter-sort-item-button {
    border: none;
    background-color: transparent;
    @include text-regular(400, #6F6E6E);
}
.product-filter-sort-item-button img {
    margin-left: 10px;
    margin-right: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
}
.pagination-wrap {
    display: flex;
    justify-content: center;
    margin: 18px 0 96px;
    border: 1px solid #EBEBEB;
}
.pagination-wrap-list {
    list-style-type: none;
    display: flex;
    width: 284px;
    justify-content: space-around;
    margin: 12px 0;
}
.pagination-wrap-list-link {
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
        &-active {
            color: #EF5B70
        }
}

@import "blocks/_advantages.scss";
@import "blocks/_feedback.scss";
@import "blocks/_footer.scss";