* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background: #222222;
  color: #fff;
  padding: 18px 0;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-col-1 {
  width: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  text-decoration: none;
  color: transparent;
}

.search-button {
  background-color: transparent;
  border: none;
}

.header-col-2 {
  width: 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-button {
  background-color: transparent;
  border: none;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__wrap {
  margin-top: 96px;
}

.cart__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 652px;
  height: 306px;
  margin-bottom: 40px;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.cart__item-close-btn svg {
  position: absolute;
  fill: #575757;
  top: 0;
  right: 0;
  margin: 28px;
}

.cart__item-close-btn svg:hover {
  fill: #F16D7F;
}

.cart__item__about {
  margin: 22px 97px 62px 31px;
  overflow: hidden;
}

.cart__item__about_title {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.cart__item__about-content {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cart__item__about-price {
  color: #EF5B70;
}

.cart__item__about-list {
  margin-bottom: 6px;
}

.cart__item__about-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-right: 24px;
}

.cart__item__about-input {
  width: 44px;
  margin-left: 24px;
  border: 1px solid #EAEAEA;
  padding-left: 16px;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
}

.cart__wrap__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__wrap__btn_item {
  display: block;
  padding: 16px 40px;
  border: 1px solid #A4A4A4;
  margin-top: 32px;
  margin-bottom: 128px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cart__wrap__btn_item:hover {
  background: #F16D7F;
  color: #FFFFFF;
  border: 1px solid #F16D7F;
}

.cart__order-date {
  width: 360px;
  margin-top: 113px;
}

.cart__order-date_input-item {
  width: 100%;
  margin-top: 20px;
  padding: 1em;
  border: 1px solid #A4A4A4;
}

.cart__order-date-legend {
  border: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.cart__order-date_btn {
  margin-top: 23px;
  background-color: transparent;
  border: 1px solid #A4A4A4;
  padding: 10px 15px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cart__order-date_btn:hover {
  background: #F16D7F;
  color: #FFFFFF;
  border: 1px solid #F16D7F;
}

.cart__order__result {
  margin-top: 57px;
  padding-top: 39px;
  background: #F5F3F3;
}

.cart__order__result_total {
  text-align: end;
  margin-right: 34px;
  margin-bottom: 12px;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.cart__order__result_total-price {
  margin-left: 26px;
}

.cart__order__result_grandtotal {
  text-align: end;
  margin-bottom: 21px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.cart__order__result_grandtotal-price {
  margin-right: 37px;
  margin-left: 26px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.cart__order__result_braker {
  margin-left: 42px;
  margin-right: 42px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cart__order__result_btn {
  background: #F16D7F;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: #FFFFFF;
  margin: 17px 43px 42px 44px;
  padding: 15px 42px;
  border: none;
}

.offer {
  background: #F1E4E6;
  margin-bottom: 65px;
}

.offer-wrap {
  background-image: url(../img/offer-img.svg);
  background-position-x: -228px;
  background-position-y: 36px;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 765px;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand_text {
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  color: #222222;
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
}

.brand_text-small {
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.brand_text-fashion {
  font-size: 32px;
  line-height: 38px;
  color: #F16D7F;
  margin-right: 80px;
}

.categories {
  padding-bottom: 96px;
}

.categories-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories-item {
  width: 360px;
  height: 260px;
  background: #C4C4C4;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.categories-item:hover .categories-mask {
  background: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.categories-mask {
  width: 100%;
  height: 100%;
  background: rgba(33, 22, 22, 0.7);
  opacity: 70%;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.categories-sale {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  z-index: 1;
}

.categories-name {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  z-index: 1;
}

.categories-item-women {
  background-image: url(../img/categForWomen.jpeg);
}

.categories-item-men {
  background-image: url(../img/categForMen.jpeg);
}

.categories-item-kids {
  background-image: url(../img/categForKids.jpeg);
}

.categories-item-acc {
  background-image: url(../img/categAccesories.jpeg);
  margin-top: 30px;
  width: 100%;
  height: 180px;
}

.feature-products-header {
  text-align: center;
  margin-bottom: 48px;
}

.feature-products-header-text {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
  font-weight: 300;
}

.feature-products-header-text-small {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.feature-products-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature-product-item {
  background: #F8F8F8;
  width: 360px;
  height: 581px;
  margin-bottom: 30px;
  list-style-type: none;
}

.feature-product-item-describtion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 116px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 28px 20px 16px;
}

.feature-product-item-header {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.feature-product-item-about {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.feature-product-item-price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.feature-products_buttom {
  margin: 48px auto 95px;
  padding: 15px 39px;
  text-decoration: none;
  display: inline-block;
  color: #F26376;
  outline: 1px solid;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.feature-products_buttom:hover {
  color: #fff;
  background: #F16D7F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.feature-products-wrap_product-page {
  margin-top: 128px;
  margin-bottom: 98px;
}

.product-offer {
  background-color: #F7F7F7;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  height: 777px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.product-offer_wrapper {
  width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-offer__button {
  width: 47px;
  height: 47px;
  border: none;
}

.product-offer__button svg {
  fill: black;
}

.product-offer__button:hover svg {
  fill: #F16D7F;
}

.product-card {
  margin: auto;
  padding-top: 64px;
  width: 1140px;
  background-color: #fff;
  position: relative;
  top: -60px;
  border: 1px solid #EAEAEA;
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-card_header {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #F16D7F;
  margin-bottom: 12px;
}

.product-card__braker-top {
  margin: 0 auto 12px;
  width: 63px;
  color: aqua;
  border-bottom: 3px solid #EF5B70;
}

.product-card_title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.product-card_description {
  width: 555px;
  margin: 0 auto 32px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #5E5E5E;
}

.product-card_price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 64px;
}

.product-card__braker-center {
  width: 642px;
  border-bottom: 1px solid #EAEAEA;
  margin: 0 auto 64px;
}

.product-card_buttom {
  margin: 48px auto 64px;
  padding: 15px 39px;
  text-decoration: none;
  display: inline-block;
  color: #F26376;
  outline: 1px solid;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 19px;
}

.product-card_buttom svg {
  margin-right: 23px;
  fill: #EF5B70;
}

.product-card_buttom:hover {
  color: #fff;
  background-color: #F26376;
}

.product-card_buttom:hover svg {
  fill: #fff;
}

.breadcrumb-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb-wrap-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb-wrap-list-item {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  margin-left: 5px;
}

.breadcrumb-wrap-list-item a {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #636363;
}

.breadcrumb-wrap-list .active {
  color: #F16D7F;
  font-weight: bold;
}

.breadcrumb {
  background: #F8F3F4;
}

.breadcrumb-wrap-text-header {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding: 60px 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.filter {
  margin-top: 51px;
  margin-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.filter__main {
  width: 360px;
  position: absolute;
}

.filter__main[open] {
  width: 360px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  background-color: white;
}

.filter__main[open][open] svg {
  fill: #EF5B70;
}

.filter__main__title svg {
  margin-left: 11px;
  fill: black;
}

.filter__main__title-line {
  border-left: 5px solid  #EF5B70;
}

.filter__main__list {
  list-style-type: none;
  margin-left: 33px;
}

.product-filter {
  margin: auto;
}

.product-filter-main img {
  margin-left: 11px;
}

.product-filter-sort {
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
}

.product-filter-sort-item-button {
  border: none;
  background-color: transparent;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #6F6E6E;
}

.product-filter-sort-item-button img {
  margin-left: 10px;
  margin-right: 10px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 18px 0 96px;
  border: 1px solid #EBEBEB;
}

.pagination-wrap-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 284px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 12px 0;
}

.pagination-wrap-list-link {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}

.pagination-wrap-list-link-active {
  color: #EF5B70;
}

.advantages {
  background-color: #222222;
}

.advantages-list {
  padding: 104px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  color: #FBFBFB;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-item {
  width: 360px;
}

.atvantages-item-text-header {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin: 28px 0 16px 0;
}

.atvantages-item-text-small {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
}

.feedback {
  height: 448px;
  background-image: url(../img/photo_subscribe.jpeg);
  background-color: #E5E5E5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.feedback-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback-subscribers {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 97px;
}

.feedback-text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  font-style: italic;
  color: #222224;
  margin-top: 30px;
}

.feedback-subscribe {
  margin-top: 155px;
}

.feedback-subscribe-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #222224;
}

.feedback-subscribe-text-small {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #222224;
}

.feedback-subscribe {
  width: 356px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.subscribe-field {
  padding: 20px;
  width: 255px;
  border-radius: 25px 0 0 25px;
  background: #E1E1E1;
  color: #222224;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  opacity: 0.67;
  outline: none;
  border: 1px solid #E1E1E1;
}

.subscribe-field:hover {
  background: #E9E9E9;
}

.subscribe-field:focus {
  outline: none;
  border: 1px solid red;
}

.subscribe-field::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  color: #222224;
}

.subscribe-field:-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  color: #222224;
}

.subscribe-field::-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  color: #222224;
}

.subscribe-field::placeholder {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  color: #222224;
}

.subscribe-button {
  padding: 20px;
  border-radius: 0 25px 25px 0;
  background: #F16D7F;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  outline: none;
  border: 1px solid #F16D7F;
}

.subscribe-button:hover {
  background: #f34b61;
}

.footer {
  background-color: #222222;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copyrites {
  margin: 30px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer-wrap-sociallinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.footer-wrap-sociallinks-item {
  margin-left: 8px;
}

.footer-wrap-sociallinks-item:hover .footer-wrap-sociallinks-item-bg {
  fill: #F16D7F;
}

.footer-wrap-sociallinks-item:hover .footer-wrap-sociallinks-item-sight {
  fill: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */