$wrapper-size: 1140px;
$color_main-dark: #222222;

@mixin text-regular($weight:300, $color:#222224) {
    font-size: 14px;
    line-height: 17px;
    font-weight: $weight;
    color: $color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "blocks/_header.scss";

.offer {
    background: #F1E4E6;
    margin-bottom: 65px;
}

.offer-wrap {
    background-image: url(../img/offer-img.svg);
    background-position-x: -228px;
    background-position-y: 36px;
    background-repeat: no-repeat;
    display: flex;
    height: 765px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.brand_text {
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    color: $color_main-dark;
    padding-left: 16px;
    border-left: 12px solid #F16D7F;;
}

.brand_text-small {
    font-size: 32px;
    line-height: 38px;
    color: $color_main-dark;
}

.brand_text-fashion {
    font-size: 32px;
    line-height: 38px;
    color: #F16D7F;
    margin-right: 80px;
}

@import "blocks/_categories.scss";
@import "blocks/_feature-products.scss";
@import "blocks/_product-page.scss";
@import "blocks/_breadcrumb.scss";

.product-filter {
    margin-top: 51px;
    margin-bottom: 61px;
    display: flex;
}

.product-filter-main {
    border: none;
    background-color: transparent;
    @include text-regular(600, #000000)
}

.product-filter-main img {
    margin-left: 11px;
}
.product-filter-sort {
    text-align: center;
    justify-content: space-around;
    margin: auto;
}

.product-filter-sort-item-button {
    border: none;
    background-color: transparent;
    @include text-regular(400, #6F6E6E)
}
.product-filter-sort-item-button img {
    margin-left: 10px;
    margin-right: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
}
.pagination-wrap {
    display: flex;
    justify-content: center;
    margin: 18px 0 96px;
    border: 1px solid #EBEBEB;
}
.pagination-wrap-list {
    list-style-type: none;
    display: flex;
    width: 284px;
    justify-content: space-around;
    margin: 12px 0;
}

@import "blocks/_advantages.scss";
@import "blocks/_feedback.scss";
@import "blocks/_footer.scss";