
.advantages {
    background-color: $color_main-dark;
}

.advantages-list {
    padding: 104px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #FBFBFB;
    list-style-type: none;
    align-items: center;
}
.advantages-item {
   width: 360px;
   transition: 0.3s;
    &:hover {
        &:hover {
            -moz-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -o-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }
    }
}

.atvantages-item-text-header {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin: 28px 0 16px 0;
}
.atvantages-item-text-small {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
}

@media (max-width: 1200px) {
    .advantages-list {
        flex-direction: column;
        padding: 48px 0 64px;
    }
    .advantages-item {
        padding: 48px 0;
    }
}