.breadcrumb-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 148px;
}
.breadcrumb-wrap-list {
    list-style-type: none;
    display: flex;
}
.breadcrumb-wrap-list-item {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    margin-left: 5px;
        & a {
            text-decoration: none;
            @include text-regular(300, #636363);
        }
}
.breadcrumb-wrap-list .active {
    color: #F16D7F;
    font-weight: bold;
}
.breadcrumb {
    background: #F8F3F4;
}
.breadcrumb-wrap-text-header {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    padding: 60px 0;
}

@media (max-width: 767px) {
    .breadcrumb-wrap {
        flex-wrap: wrap;
        justify-content: center;
    }
    .breadcrumb-wrap-text-header {
        padding: 24px 0 32px;
    }
    .breadcrumb-wrap-list {
        margin-bottom: 46px;
    }
}