
.feedback {
    height: 448px;
    background-image: url(../img/photo_subscribe.jpeg);
    background-color: #E5E5E5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.feedback-wrap {
    display: flex;
    justify-content: space-between;
}
.feedback-subscribers {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 97px;
}

.feedback-text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-style: italic;
    color: #222224;
    margin-top: 30px;
}
.feedback-subscribe {
    margin-top: 155px;
}
.feedback-subscribe-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #222224;
}
.feedback-subscribe-text-small {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #222224;
}
.feedback-subscribe {
    width: 356px;
    display: flex;
    flex-direction: column;
}
.subscribe-button-container {
    display: flex;
    margin-top: 32px;
}
.subscribe-field {
    padding: 20px;
    width: 255px;
    border-radius: 25px 0 0 25px;
    background: #E1E1E1;
    color: #222224;
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
    opacity: 0.67;
    outline: none;
    border: 1px solid #E1E1E1;
        &:hover {
            background: #E9E9E9;
        }
        &:focus {
            outline: none;
            border: 1px solid red;
        }
}

.subscribe-field::placeholder {
    font-size: 14px;
    line-height: 17px;
    opacity: 0.67;
    color: #222224;
}
.subscribe-button {
    padding: 20px;
    border-radius: 0 25px 25px 0;
    background: #F16D7F;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
    outline: none;
    border: 1px solid #F16D7F;
        &:hover {
            background: #f34b61;
        }
}

@media (max-width: 1200px) {
    .pagination-wrap {
        margin: 24px 0 63px;
    }
    .feedback {
        height: 100%;
        background-position-x: -330px;
    }
    .feedback-wrap {
        flex-direction: column;
        align-items: center;
    }
    .feedback-subscribers {
        margin-top: 64px;
    }
    .feedback-subscribe {
        margin-top: 48px;
        margin-bottom: 140px;
    }
}

@media (max-width: 767px) {
    .feedback-subscribe {
        margin-top: 59px;
        margin-bottom: 109px;
    }
}