.feature-products-wrap_product-page {
    margin-top: 128px;
    margin-bottom: 98px;
}
// .product-offer__wrapper {
//     max-width: 1600px;
// }
.product-offer {
    background-color: #F7F7F7;
    background-image: url(../../img/product__main-img.jpeg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    height: 777px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-offer_wrapper {
    width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-offer__button {
    width: 47px;
    height: 47px;
    border: none;
        & svg {
            fill: black;
        }
        &:hover svg {
            fill: #F16D7F;
        }
}