.registration {
    flex-grow: 1;
    display: flex;
    padding-top: 64px;
        &__about, &__about_title {
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            width: 625px;
        }
        &__about_text {
            padding: 22px 0 6px;
        }
        &__about_list {
            list-style: none;
                &_item {
                    margin: 16px;
                        &::before {
                            content: url(/img/img_v.svg);
                            margin-right: 20px;
                        }
                }
        }
}

.registration__date_fieldset {
    border: none;
    width: 360px;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
        &-input-item {
            margin-top: 20px;
            padding: 1em;
                &::placeholder {
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 16px;
                    color: #B1B1B1;
                }
        }
}
.registration__date {
    margin-right: 128px;
}
.registration__date_radio {
    margin: 32px 0 33px;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #222222;
}
.registration__date_radio-item {
    margin-right: 20px;
    margin-left: 10px;
        &:last-child {
            display: none;
        }
        & input {
            margin-right: 10px;
        }
}
.registration__date-text {
    width: 359px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin-top: 15px;
}
.registration__date-btn {
    margin-top: 39px;
    margin-bottom: 96px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: #F16D7F;
    border: 1px solid #F16D7F;
    padding: 17px 29px;
    transition: 0.3s;
        & svg {
            fill: white;
            transition: 0.3s;
        }
        &:hover {
            color: #F16D7F;
            background-color: white;
        }
        &:hover svg {
            fill: #F16D7F;
        }
}

@media (max-width:1200px) {
    .registration {
        // flex-direction: column;
    }
    .registration__date {
        margin-right: 22px;
        &_radio-item:last-child {
            display: inline;
        }
    }
    .registration__about {
        width: 354px;
            &_title {
                width: 354px;
                font-size: 16px;
                line-height: 19px;
            }
            &_text {
                font-size: 16px;
                line-height: 19px;
            }
            &_list {
                font-size: 16px;
line-height: 19px;
            }
    }
}

@media (max-width:767px) {
    .registration {
        flex-direction: column;
            &__about {
                margin-bottom: 80px;
            }
    }
}